.SearchMoviesByKeyWord {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
    cursor: pointer;
}

.SearchMoviesByKeyWordTitle {
    font-size: 26px;
    font-weight: bold;
    width: 22vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchMoviesByKeyWordTitleDark {
    font-size: 26px;
    font-weight: bold;
    width: 22vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.SearchMoviesByKeyWordImage {
    width: 22vw;
}

.SearchMoviesByKeyWordImageDark {
    width: 22vw;
    color: white;
}